<app-dashboard></app-dashboard>
<div id="page-wrapper">
  <div class="row">
      <div id="addAssetModal" tabindex="-4" role="dialog" aria-labelledby="addAssetModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addAssetModalLabel">Create asset</h4>
                  <p class="modal-intro">Enter the required values below.</p>
              </div>
              <form [formGroup]="myForm">
                <div class="modal-body">
                      <div class="form-group text-left">
                        <label for="assetId">assetId</label>                
                          <input formControlName="assetId" type="text" class="form-control">                
                      </div>
                      <div class="form-group text-left">
                        <input type="file" id="avatar" class="btn btn-default btn-file" (change)="onFileChange($event)" value="File Input">
                      </div>
                      <div class="form-group text-left">
                        <label for="documentHash">documentHash</label>
                        <input id="hashDisplay" [(ngModel)]="someValue" formControlName="documentHash" type="text" class="form-control">
                      </div>   
                      <div class="form-group text-left">
                        <label for="creator">creator</label>
                        <input formControlName="creator" class="form-control" rows="1" type="text">            
                      </div>
                      <div class="form-group text-left">
                        <label for="signator">signator</label>                
                        <input formControlName="signator" class="form-control" rows="1" type="text">           
                      </div>
                      <div class="form-group text-left">
                        <label for="creatorSigned">creatorSigned</label>                
                          <input formControlName="creatorSigned" type="checkbox" class="form-control">                
                      </div>
                      <div class="form-group text-left">
                        <label for="signatorSigned">signatorSigned</label>                
                          <input formControlName="signatorSigned" type="checkbox" class="form-control">                
                      </div>
                      <label for="state">state</label>
                      <div class="checkbox">                
                          <label>
                            <input                      
                                formControlName="state"                      
                              name="state"
                              value="WAITING_SIGNATURES"
                              type="radio"                      
                            />
                            WAITING_SIGNATURES
                          </label>                
                          <label>
                            <input                      
                                formControlName="state"                      
                              name="state"
                              value="COMPLETE"
                              type="radio"                      
                            />
                            COMPLETE
                          </label>                
                      </div>
                      <div class="form-group text-left">
                        <label for="location">location</label>                        
                          <input formControlName="location" type="text" class="form-control">                        
                      </div>                                                                  
                      <div class="form-group text-left">
                        <label for="description">description</label>                        
                          <input formControlName="description" type="text" class="form-control">                        
                      </div>                                                                  
                      <div class="form-group text-left">
                        <label for="dayStart">dayStart</label>                        
                          <input formControlName="dayStart" type="text" class="form-control">                        
                      </div>                                                                  
                      <div class="form-group text-left">
                        <label for="time">time</label>                        
                          <input formControlName="time" type="number" class="form-control">                        
                      </div>                                                                  
                      <div class="form-group text-left">
                        <label for="price">price</label>                        
                          <input formControlName="price" type="number" step='any' class="form-control">                        
                      </div>                                                                  
                      <div class="form-group text-left">
                        <label for="rateSuccessContract">rateSuccessContract</label>                        
                          <input formControlName="rateSuccessContract" type="number" step='any' class="form-control">                        
                      </div>                                                                  
                      <div class="form-group text-left">
                        <label for="rateSuccess">rateSuccess</label>                        
                          <input formControlName="rateSuccess" type="number" step='any' class="form-control">                        
                      </div>                                                                  
                      <div class="form-group text-left">
                        <label for="N">N</label>                        
                          <input formControlName="N" type="number" class="form-control">                        
                      </div>                                                                  
                      <div class="form-group text-left">
                        <label for="M">M</label>                        
                          <input formControlName="M" type="number" class="form-control">                        
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
  </div>
</div>